.ba {
  background-color: aqua;
}
.div2 {
  background-color: greenyellow;
}
#boo {
  color: blue;
}

#nu {
  color: blue;
}

#emp {
  color: blue;
}

#ancient {
  color: blue;
}
#idisagree {
  color: blue;
}

#whatsmyname {
  color: blue;
}
